<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="/styles/index/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrap_login">
    <h1>登录</h1><span class="err_success"><%- message %></span>
    <form action="/dologin" method="post" id="login">
        <label for="username">username:</label><input type="text" class="username_login" name="username"/>
        <label for="pwd">password:</label><input type="password" class="password_login" name="password"/>
        <p><input type="submit" class="submit" value="登陆" /></p>
        <a href="/register" class="register">注册</a>
    </form>
</div>

</body>
</html>