<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="/styles/index/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrap_register">
    <h1>请注册</h1><span class="err_success"><%- message %></span>
    <form action="/doregister" method="post" id="register">
        <label for="username">username:</label><input type="text" name="username"/>
        <label for="pwd">password:</label><input type="password" name="password"/>
        <p><input type="submit" class="submit" value="注册" /></p>
    </form>
</div>

</body>
</html>