body,html,ul{padding: 0;margin: 0;}
.wrap{
    width: 60%;
    margin: 100px auto;
    padding: 20px;
}
.box{

}
.todos h1{
    border-bottom: 1px solid #8A6343;
}
h1{
    font-size: 50px;
}
h2{
    color: #00d4b4;
    font-size: 40px;
}
ul li{
    list-style: none;
    font-weight: bolder;
    padding: 20px 0;
    border-bottom: 1px dotted #555555;
}
ul li a{
    color: #555555;
    padding: 0 15px;
    display: inline-block;
    text-decoration: none;
}
ul li a:hover{
    color: #00d4b4;
}
.long_txt{
    border: 1px solid #00d4b4;
    border-radius: 10px;
    outline: none;
    width: 400px;
    height: 60px;
    padding: 1em;
    font-size: 20px;
}

.date{
    display: inline-block;
    padding: 0 10px;
    color: #00d4b4;
}
.date,li a{float: right}
.finished{
    color: crimson;
}
.wrap_login,.wrap_register{
    width: 1000px;
    margin: 100px auto;
}
#login input:not(.submit),#register input:not(.submit){
    border: 1px solid #00d4b4;
    border-radius: 10px;
    outline: none;
    width: 150px;
    height: 20px;
    padding: 0.5em;
    font-size: 20px;
}
#login label,#register label{
    font-size: 20px;
    font-weight: bolder;
    margin-right: 30px;
}
#login .submit,#register .submit{
    height: 60px;
}
#login .register,.logout{
    width: 150px;
    background: #00d4b4;
    border: none;
    padding: 10px 0;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.submit,.cancel{
    width: 150px;
    height: 80px;
    background: #00d4b4;
    border: none;
    padding: 10px 5px;
    display: block;
    font-size: 30px;
    cursor: pointer;
}
.submit:hover,#login .register:hover,.cancel:hover,.logout:hover{
    background: #0b97c4;
}
.err_success{
    color: red;
    font-weight: bolder;
}
